@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;   
}

a {
    color: #FFF !important;
    text-decoration: none;
    width: 100%;
    font-family: roboto, sans-serif !important;
}

body {
    background-color: #E5E6F0;
    -webkit-font-smoothing: antialiased;
}

body, input, a, label{
    font-family: roboto, sans-serif !important;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    width: 500px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 30px 20px;
}

.hidden { 
    display:none; 
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}

aside form {
    margin-top: 30px;
}


aside form a {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #663399;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: background 0.2s;
}

.btn{
    background: #663399;
}

aside form a:hover {
    background: #947cb0;
}

@media (max-width: 1000px) {
    .App {
      flex-direction: column;
    }
  
    .App aside {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
  }